<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Meghalaya Online</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <div class="container-fluid px-5">
            <a class="navbar-brand" href="/"> <img src="/images/logo.png" alt="Logo" height="40"> </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32"
                                class="rounded-circle" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">

                            <li>
                                <a class="dropdown-item" href="/logout">
                                    Sign out
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="d-flex flex-nowrap mt-1 mb-1">

        <div class="d-flex flex-column flex-shrink-0 p-3 card bg-white" style="width: 19vw;">
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="/secure/home" class="nav-link" aria-current="page">
                        <i class="fa-solid fa-house me-3"></i>
                        Home
                    </a>
                </li>
                <li>
                    <a href="/secure/dashboard" class="nav-link">
                        <i class="fa-solid fa-gauge me-3"></i>
                        Dashboard
                    </a>
                </li>
                <li>
                    <a href="/secure/departments" class="nav-link ">
                        <i class="fa-solid fa-table-cells-large me-3"></i>
                        Department
                    </a>
                </li>
                <li>
                    <a href="/secure/services" class="nav-link ">
                        <i class="fa-solid fa-grip me-3"></i>
                        Services
                    </a>
                </li>
                <li>
                    <a href="/secure/users" class="nav-link ">
                        <i class="fa-solid fa-circle-user me-3"></i>
                        Users
                    </a>
                </li>
            </ul>
        </div>

        <div class="d-flex flex-column align-items-stretch flex-grow-1 min-vh-80">

            <div th:replace="~{${view} :: content}"></div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-primary bg-dark text-white">

        <!-- Copyright -->
        <div class="text-center p-4 bg-black">
            © 2023 Copyright:
            <a class="text-white fw-bold text-decoration-none" href="https://meg.nic.in/">National Informatics
                Centre</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <script src="/js/bootstrap.bundle.min.js"></script>
    <!--<script src="/node_modules/@popperjs/core/dist/cjs/popper.js"></script>-->

    <!--Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>


    <script>
        // jQuery function to add 'active' class to the navigation item based on the current URL
        document.addEventListener("DOMContentLoaded", () => {

            function setActiveNavItem() {
                const navigationLinks = $('.nav a.nav-link');

                // Get the current URL
                const currentURL = window.location.pathname;

                // Loop through each navigation link and check if it matches the current URL
                navigationLinks.each(function () {
                    const linkURL = $(this).attr('href');
                    if (linkURL === currentURL) {
                        $(this).addClass('active');
                    } else {
                        $(this).removeClass('active');
                    }
                });
            }

            // Call the function on page load to set the initial 'active' state
            setActiveNavItem();

            setTimeout(initSummernote, 2000);
        });


        function initSummernote() {
            $('.summernote').summernote();
        }
    </script>

</body>

</html>