.bannerBackground{
    /*background-color: #970078;
    background-image: linear-gradient(225deg, #970078 3%, #419d7d 50%, #00b2fe 100%);
    */
    /*background-color: #be2aa2;
    background-image: linear-gradient(225deg, #be2aa2 3%, #447a6b 50%, #362e2e 100%);
*/

    /*background-color: #5042c0;
    background-image: linear-gradient(225deg, #5042c0 3%, #447a6b 50%, #362e2e 100%);
    */
    background-color: #362e2e;
    background-image: linear-gradient(225deg, #362e2e 3%, #447a6b 50%, #5042c0 100%);
    .dropdown-menu .dropdown-item:hover {
     background-color: #3498db; /* Blue color example */
    }
}