// Default variable overrides
// $primary: #4c0bce;
$primary: #052c65;
$primary-subtle: #303f9f;
$warning: #ffb700;

$body-bg: #F6F6F2;
$body-color: #111;
$black: #000;
$transparent: #00000000;

$fs-1: 16px;
// $safety-red: #bd1e24;
$enable-gradients: true;
$enable-shadows: true;
$enable-rounded: true;

// $navbar-toggler-border-radius: .75rem !important;
// $navbar-dark-toggler-border-color:  rgba($transparent, .1) !important;

// $navbar-dark-toggler-icon-bg:       url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#FFF' stroke-linecap='round' stroke-miterlimit='10' stroke-width='0' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important;

@import "../node_modules/bootstrap/scss/bootstrap";

.bg-indigo {
    background-color: indigo;
}

// .bg-safetyRed{
//     background-color:  #bd1e24;
// }

.section-bg-light {

    background: url(/images/world_dot.png);
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar {
    // background: linear-gradient(40deg,$primary,$primary-subtle) !important;
    @extend .navbar, .py-3, .shadow;
}

.nav-tabs>.nav-item>.active {
    color: $body-bg;
    background-color: $primary;
    font-size: $fs-1;
}

.nav-tabs>.nav-item>.nav-link {
    @extend .border;
}


.card {
    @extend .card, .shadow, .border-0;
}

.card-header {
    @extend .card-header, .shadow-sm, .border-1;
}

.card-title {
    @extend .card-title, .text-uppercase, .border-0;
}


.card-footer {
    @extend .card-footer, .border-0, .z-3;
}


.modal-header {
    @extend .modal-header, .bg-dark, .text-white, .text-center, .text-uppercase, .border-0;
}

.modal-title {
    @extend .modal-title, .text-white, .text-center, .text-center, .text-uppercase, .border-0;
}


.btn-rounded {
    @extend .btn, .rounded-pill, .py-2, .px-3, .shadow, .border-0;
}

.form-rounded {
    @extend .form-control, .rounded-pill;
}

// .form-control {
//     @extend .form-control, .rounded-pill;
// }

.primary-pattern {
    background-image: url("/svg/1.svg");
}

.mandala-pattern {
    background-image: url("/svg/loginbg.png");
    background-size: cover;
}

.footer-pattern {
    background-image: url("/svg/mandala-left-top.png"), url("/svg/mandala-right-top.png");
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: 700px 700px;
}


.accordian-border {
    @extend .border, .rounded;
}


.min-vh-80 {
    min-height: 80vh !important;
}

.min-vh-75 {
    min-height: 75vh !important;
}

.bg-table{
    background-color:lightBlack;
}